#!/usr/bin/env bash

alias ls='ls --color=auto -hF'
alias ll='ls -l' 
alias la='ls -al'
alias lt='ls -lt'
alias llt='ll -hst'
alias l='ls -al'
alias l.='ls -d .*'

alias cls='clear'

# emacs
alias ec='emacsclient -nw'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
#alias -- -= 'cd -'

alias v=vim
alias rscp='rsync -ahP'
alias rsmv='rsync -ahP --remove-source-files'

#network
#alias sip="/sbin/ifconfig | grep 'inet addr' | awk '{print \$2}'"
alias sip="ip -4 addr | grep -v valid_lft |awk '{print \$2}' | sed 'N;s/\n/ /' |  column -t"

#emacs
#alias ect='emacsclient -s /tmp/emacs1000/vamdt -t'
alias ect='emacsclient -t'
#alias ec='emacsclient -s /tmp/emacs1000/vamdt -c -n'
alias ec='emacsclient -c -n'
