#!/usr/bin/env bash

alias ls='ls -hFG'
alias ll='ls -l' 
alias la='ls -al'
alias lt='ls -lt'
alias llt='ll -hst'
alias l='ls -al'

#alias g='git'
alias gs='git status'
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gd='git diff'
alias gpl='git pull'
alias gpu='git push'
alias gpu='git push'
alias gplh='git pull upstream develop'
alias gpuh='git push upstream develop'
alias gr='git rebase' 

alias cls='clear'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias -- -= 'cd -'

alias v=vim
alias less=/usr/share/vim/vim73/macros/less.sh

#network
alias sip="ifconfig | grep 192 | awk '{print \$2}'"
